@using Microsoft.AspNetCore.Mvc.Localization;
@using Votp.Models.Response;
@model IEnumerable<Votp.Models.Response.UserODto>
@inject IViewLocalizer Loc

@{
    ViewData["Title"] = Loc["Users"];
}

<h1>Users</h1>

<a asp-action="InnerUsers">Users From Inner Database</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <label for=@item.Id>
                        <input type="checkbox" id="@item.Id" name="Selection" value="@item.Id" />
                </label>
            </td>
        </tr>
}
    </tbody>
</table>