@using Microsoft.AspNetCore.Mvc.Localization;
@using Votp.Models.Response;
@model IEnumerable<UserResolverODto>
@inject IViewLocalizer Loc


@{
    ViewData["Title"] = Loc["System"];
}

<h1>System configuration</h1>

<p>

</p>
<div>
    <div>
        <h2>@Loc["User resolvers"]</h2>
        <a asp-action="ResolverAdd">@Loc["Add new sql resolver"]</a>
        <a asp-action="ResolverAddLdap">@Loc["Add new ldap resolver"]</a>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Loc["Name"]
                    </th>
                    <th>
                        @Loc["Type"]
                    </th>
                    <th>
                        @Loc["Description"]
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.AdditionalDataString)
                        </td>
                        <td>
                            <!-- Html.ActionLink("ResolverEdit", "Edit", new { id = item.Id }) | -->
                        @Html.ActionLink("Delete", "ResolverDelete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
            <!--td>
                Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td-->
        </table>
    </div>
</div>

