@using Microsoft.AspNetCore.Mvc.Localization;
@using Votp.ATest;
@model ICollection<IResolver<User>>
@inject IViewLocalizer Loc


@{
    ViewData["Title"] = Loc["System"];
}

<h1>System configuration</h1>

<p>

</p>
<div>
    <div>
        <h2>@Loc["User resolvers"]</h2>
        <a asp-action="AddResolver">@Loc["Add new resolver"]</a>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Loc["Resolvers"]
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    int i = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ToString()
                            </td>
                            <td>
                                @Html.ActionLink("EditResolver", "Edit", new { id = i }) |
                                @Html.ActionLink("DetailsResolver", "Details", new { id = i })
                            </td>
                        </tr>
                    }
                    i++; 
                }
            </tbody>
            <!--td>
                Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td-->
        </table>
    </div>
</div>

