@using Microsoft.AspNetCore.Mvc.Localization;
@using Votp.Models.Request;
@model IEnumerable<Votp.Models.Response.TokenODto>
@inject IViewLocalizer Loc


@{
    ViewData["Title"] = Loc["Tokens"];
}

<h1>Tokens</h1>

<p>
    
</p>
<form asp-action="SelectionAction">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TokenType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { 
        <tr>
            <td>
                <label for=@item.Id>
                @Html.DisplayFor(modelItem => item.Token)
                </label>
            </td>
            <td>
                <label for=@item.Id>
                    @Html.DisplayFor(modelItem => item.TokenType)
                </label>
            </td>
            <td>
                <label for=@item.Id>
                @Html.DisplayFor(modelItem => item.UserName)
                </label>
            </td>
            <td>
                <label for=@item.Id>
                @Html.DisplayFor(modelItem => item.Locked)
                </label>
            </td>
            <td>
                <label for=@item.Id>
                        <input type="checkbox" id="@item.Id" name="Selection" value="@item.Id"/>
                </label>
            </td>
        </tr>
}
    </tbody>
    <div class="form-group">
        <a asp-action="Create" class="btn btn-primary">Create</a>
        <button name="Action" value="Enable" class="btn btn-primary">@Loc["Enable"]</button>
        <button name="Action" value="Disable" class="btn btn-primary">@Loc["Disable"]</button>
        <button name="Action" value="Delete" class="btn btn-primary">@Loc["Delete"]</button>
    </div>

    <!--td>
        Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td-->
</table>
</form>
